*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background: linear-gradient(to bottom, rgb(127, 38, 0), rgb(255, 255, 151), rgb(127, 38, 0));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2px;
}

:root {
  --color-1: #ff3b00; /* rosso-arancio intenso */
  --color-2: #ff6a00; /* arancio vivo */
  --color-3: #ff9000; /* arancio medio */
  --color-4: #ffb700; /* arancio chiaro tendente al giallo */
  --color-5: #ffd700; /* giallo oro brillante */
}